:root {
  --light: #d9d9d9;
  --lighter: #d9d9d9cc;
  --dark: #09171f;
  --border: 2px solid var(--lighter);
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  src:
    url("../assets/fonts/Inter-Regular.woff") format("woff"),
    url("../assets/Inter-Regular.woff2") format("woff2")
  ;
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  src:
    url("../assets/fonts/Inter-SemiBold.woff") format("woff"),
    url("../assets/fonts/Inter-SemiBold.woff2") format("woff2")
  ;
}

@font-face {
  font-weight: 700;
  font-family: Inter;
  src:
    url("../assets/fonts/Inter-Bold.woff") format("woff"),
    url("../assets/fonts/Inter-Bold.woff2") format("woff2")
  ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.2;
  font-family: Inter, sans-serif;
  color: var(--light);
  background: var(--dark);
}

h1 {
  flex-basis: 100%;
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

h2 {
  margin: 0 0 10px;
  font-weight: 600;
}

.container {
  max-width: 800px;
  padding: 30px 20px;
  margin: 0 auto;
}

.schedule {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  align-items: center;
  gap: 20px 20px;
  max-height: 700px;
}

.day {
  width: 340px;
  flex-shrink: 1;
}

.day-table {
  width: 100%;
  border: 3px solid var(--lighter);
  border-spacing: 0;
  border-radius: 15px;
}

.day-table tr:not(:last-child) td {
  border-bottom: var(--border);
}

.lesson-time {
  min-width: 90px;
  padding: 3px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--lighter);
  border-right: var(--border);
}

.lesson {
  padding: 10px;
}

.lesson h3 {
  font-size: 16px;
}

.lesson p {
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
}

.semi-bold {
  font-weight: 600;
}

@media (max-width: 760px) {
  h1 {
    margin-bottom: 25px;
  }

  .schedule {
    flex-wrap: nowrap;
    max-height: none;
  }

  .day {
    width: 70%;
  }
}

@media (max-width: 530px) {
  h1 {
    margin-bottom: 20px;
  }

  .day {
    width: 340px;
  }
}

@media (max-width: 350px) {
  .day {
    width: 95%;
  }

  .lesson-time {
    min-width: 50px;
  }
}
